@font-face {
  font-family: "El Messiri";
  src: url("../fonts/elmessiri.woff") format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansLight.woff") format('woff');
  font-weight: 300;
}

/***** Общие стили сайта *****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1.6;
}
ul {
  border: none;
  list-style-type: circle;
}
li {
  border: none;
}

/* Page settings */
.page {
  width: 100%;
  max-width: 140rem;
  min-height: 100vh;
  padding: 4rem;
  margin: 0 auto;
  position: relative;
}
/* Header */
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
}
.header__name {
  font-size: 4rem;
  font-family: "El Messiri", sans-serif;
  font-weight: 400;
  display: block;
  text-align: center;
}
.header__position {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  display: block;
}

/* Portfolio */
.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.portfolio__preview {
  display: block;
  background-image: radial-gradient(#f1f1f1, #c7c7c7);
  position: relative;
  text-decoration: none;
  transition: all .3s;
}
.portfolio__preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all .3s;
  z-index: 0;
}
.portfolio__preview:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.portfolio__preview:hover::after {
  opacity: .95;
}
.small-previews__wrapper,
.portfolio__preview_m {
  width: 48%;
  position: relative;
  margin-bottom: 4%;
}
.portfolio__preview_m::before,
.small-previews__wrapper::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.small-previews__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.portfolio__preview_s {
  width: 100%;
  height: 46%;
  position: absolute;
  left: 0;
}
.portfolio__preview_s:first-child {
  top: 0;
}
.portfolio__preview_s:last-child {
  bottom: 0;
}
.portfolio__preview_l {
  width: 100%;
  position: relative;
  margin-bottom: 4%;
}
.portfolio__preview_l::before {
  content: "";
	display: block;
	padding-top: 50%;
}
.portfolio__img,
.portfolio__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio__preview_s .portfolio__img {
  width: auto;
  height: 90%;
}
.portfolio__preview_m .portfolio__img {
  width: 90%;
  height: auto;
}
.portfolio__preview_l .portfolio__img {
  width: auto;
  height: 90%;
}
.portfolio__caption {
  color: #000000;
  opacity: 0;
  width: 90%;
  transition: all .3s;
  z-index: 100;
}
.portfolio__caption * {
  display: block;
  text-align: center;
}
.portfolio__title {
  font-size: 3rem;
  font-weight: 300;
}
.portfolio__subtitle {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
}
.portfolio__preview:hover .portfolio__caption {
  opacity: 1;
}

/* About section */
.about {
  margin: 5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about>* {
  width: 48%;
}
.about__title {
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
  text-align: center;
}
.about__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #eeeeee;
  position: relative;
  margin-right: 2rem;
  overflow: hidden;
  float: left;
  shape-outside: circle(50%);
clip-path: circle(50%);
}
.about__img img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__text {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.skills__title {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 2rem 0 1rem;
}
.skills__title:first-child {
  margin-top: 0;
}
.skills__list {
  font-size: 1.8rem;
  word-spacing: .5rem;
}
.skills__list li:not(.skills__line) {
  margin-left: 2rem;
}

/* Contacts */
.contacts {
  width: 100%;
  margin-bottom: 6rem;
}
.contact-list {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.8rem;
}
.contact{
  padding-left: 4rem;
  position: relative;
}
.contact .svg-icon {
  fill: gray;
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 0;
  /* top: 50%;
  left: 50%;
  opacity: .1;
  transform: translate(-50%, -50%) scale(2);
  transition: all .3s; */
}

/* Work page */
.link {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
  border-bottom: 1px solid transparent;
}
.link:hover {
  border-bottom-color: #000000;
}

.home-link {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  left: 4rem;
}

.work__title {
  margin: 4rem 0 6rem;
}
.work__title * {
  display: block;
  text-align: center;
}
.work__details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.work__img {
  margin-right: 4rem;
  width: 55%;
  overflow: hidden;
}
.work__img img {
  width: 100%;
  height: auto;
}
.work__info {
  width: 40%;
}
.work__text {
  font-size: 1.6rem;
}
.work__features {
  margin-top: 4rem;
  font-size: 1.8rem;
}
.work__features li {
  font-size: 1.6rem;
  margin-left: 2rem;
}
.work__features li:first-child {
  margin-top: 2rem;
}
.work__btn {
  color: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.5rem 3rem;
  margin: 4rem 0;
  border: 1px solid #000000;
  background-color: transparent;
  transition: all .3s;
}
.work__btn:hover {
  color: #ffffff;
  background-color: #000000;
}
.work__controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2rem 0;
  font-size: 1.6rem;
}
